@model Forum_netFramework.Models.User

@{
    ViewBag.Title = "HeaderAuthorised";
    Layout = null;
}

@*Header*@
<header class="p-3 bg-dark text-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/Home/HomePage" class="nav-link text-reset fs-4 ">TechForum</a></li>
                <!-- <li><a href="#" class="nav-link px-2 text-white">About</a></li> -->
            </ul>

            <div class="text-end">
                <a href="/Home/NewTopic" class="myBtn" style="margin-right: 100px; text-decoration: none;">Create new post</a>
                <button type="button" class="usrBtn">@Model.Name</button>
            </div>
        </div>
    </div>
</header>