@{
    ViewBag.Title = "HeaderStart";
    Layout = null;
}

@*Header*@
<header class="p-3 bg-dark text-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/Home/Index" class="nav-link text-reset fs-4 ">TechForum</a></li>
                @*                 <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                *@
            </ul>

            <div class="text-end">

                <button type="button" class="btn btn-outline-light me-2" href="javascript:void(0)" onclick="document.getElementById('lightL').style.display='block';document.getElementById('fade').style.display='block'">Login</button>
                <button type="button" class="myBtn" href="javascript:void(0)" onclick="document.getElementById('lightS').style.display='block';document.getElementById('fade').style.display='block'">Sign-up</button>
            </div>
        </div>
    </div>
</header>

